.second-column {
    display: grid;
    row-gap: 2rem;
}
.single-ingredient {
    border-bottom: 2px solid var(--grey-300);
    padding-bottom: 0.75rem;
    color: var(--grey-700);
}

.ingredients-list{
    padding: 1rem;
}