.single-instruction header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
}
.single-instruction header p {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-500);
    margin-bottom: 0;
}
.single-instruction > p {
    color: var(--grey-700);
}

.single-instruction header div {
    height: 2px;
    background: var(--grey-300);
}
