.recipe {
    background: linear-gradient(to right, #e2e0ff, #c6c5e0);
    margin: 0.5rem;
    display: grid;
    -webkit-box-shadow: 5px 3px 24px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 3px 24px -10px rgba(66, 68, 90, 1);
    box-shadow: 5px 3px 24px -10px rgba(66, 68, 90, 1);
    border: solid rgba(26, 26, 26, 0.45);
    border-radius: 0.35rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr 1fr;
    grid-template-areas:
"recipe-link recipe-link"
"recipe-prep-times recipe-kcal"
"recipe-nutri recipe-nutri";
}

.recipe-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    grid-area: recipe-link;
}

.recipe-img {
    border-radius: var(--borderRadius);
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: 0;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.recipe-name {
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1;
    color: var(--grey-800);
    font-size: 1.5rem;
    grid-area: recipe-link;
}

.recipe-prep-times {
    grid-area: recipe-prep-times;
}

p {
    margin-bottom: 0;
}

.icon {
    padding-top: 0.75rem;
}

.recipe-kcal {
    grid-area: recipe-kcal;
    /*background-color: #ffaabe;*/
}

.recipe-nutri {
    grid-area: recipe-nutri;
    padding-bottom: 0.5rem;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-fav-icon-container {
    position: relative;
}

.img-fav-icon-container img {
    display: block;
}

.img-fav-icon-container .img-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    color: red;
    background: rgba(0, 0, 0, 0.6);
}


@media screen and (max-width: 600px) {
    .recipe {
        grid-template-rows: 2.5fr 1fr 1fr;
    }
    .recipe-name {
        margin-bottom: 0.5rem;
        margin-top: 0.75rem;
        font-size: 1rem;
    }
    .icon {
        padding-top: 0.25rem;
        height: 20px;
    }
    .tile{
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 600px) {
    .recipe {
        grid-template-rows: 3fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .recipe {
        grid-template-rows: 5fr 1fr 1fr;
    }
}