.recipes-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.recipes-container {
    display: grid;
    gap: 2rem 1rem;
}

.recipes-list {
    display: grid;
    padding-bottom: 1rem;
}

@media screen and (min-width: 400px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}