body {
    background: linear-gradient(to right, #F8B195, #C06C84);
}

.add-new-recipe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    padding: 0;
    /*background: #009578;*/
    background: #6C5B7B;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    height: 2.5rem;
}

.add-new-recipe-button:hover {
    /*background: #008168;*/
    background: #564e69;
}

.add-new-recipe-button:active {
    /*background: #006e58;*/
    background: #474059;
}

.add-new-recipe-button-text, .add-new-recipe-button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    color: white;
    height: 100%;
}

.add-new-recipe-button-icon {
    font-size: 1.5em;
    background: rgba(0,0,0,0.1);
}

.add-icon {
    margin-left: auto;
}

.recipes-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 0.25em;
}

.recipes-container {
    display: grid;
    gap: 2rem 1rem;
}

.recipes-list {
    display: grid;
    padding-bottom: 1rem;
}

@media screen and (min-width: 400px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}