body {
    /*background: linear-gradient(to right, rgba(253, 194, 194), rgb(175, 134, 229));*/
    background: linear-gradient(to right, #F8B195, #C06C84);
}

.shopping-list-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.shopping-list-card {
    display: flex;
    flex-direction: column;
    background: white;
    height: 90%;
    border-radius: 10px;
    width: 80%;
    margin-top: 10px;
}

.fa-icon{
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.delete-done-icon{
    color: #333;
    height: 100%;
    margin: 0.25em;
    background:rgba(0,0,0,0);
    padding-bottom: 1em;
}

.delete-done-icon:hover{
    color: #555;
    background: #f5f5f5;
}

.icon-padding{
    padding-left: 0.5em;
}