.recipe {
    background-color: #e2e0ff;
    margin: 0.5rem;
    display: grid;
    border: solid;
    border-radius: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr 1fr;
    grid-template-areas:
"recipe-link recipe-link"
"recipe-prep-times recipe-kcal"
"recipe-nutri recipe-nutri";
}

.recipe-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    grid-area: recipe-link;
}

.recipe-img {
    border-radius: var(--borderRadius);
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: 0;
}

.recipe-name {
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1;
    color: var(--grey-800);
    font-size: 1.5rem;
    grid-area: recipe-link;
}

.recipe-prep-times {
    grid-area: recipe-prep-times;
}

p {
    margin-bottom: 0;
}

.icon {
    padding-top: 0.75rem;
}

.recipe-kcal {
    grid-area: recipe-kcal;
    /*background-color: #ffaabe;*/
}

.recipe-nutri {
    grid-area: recipe-nutri;
    padding-bottom: 0.5rem;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-fav-icon-container {
    position: relative;
}

.img-fav-icon-container img {
    display: block;
}

.img-fav-icon-container .img-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    color: red;
    background: rgba(0, 0, 0, 0.6);
}


@media screen and (min-width: 400px) {
    .recipe {
        grid-template-rows: 2fr 1fr 1fr;
    }
}

@media screen and (min-width: 600px) {
    .recipe {
        grid-template-rows: 3fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .recipe {
        grid-template-rows: 5fr 1fr 1fr;
    }
}